* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(37, 36, 36);
  font-family: 'Ketchum', sans-serif;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.fancy {
  background-color: rgb(156, 199, 199);
  padding: 20px;
  /* border: 5px solid #ffffff; */
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
  width: 200px;
  text-align: center;
}

.fancy::before {
  content: "";

  position : absolute;
  z-index  : -1;
  bottom   : 15px;
  right    : 5px;
  width    : 50%;
  top      : 80%;
  max-width: 200px;

  box-shadow: 0px 13px 10px black;
  transform: rotate(4deg);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

section {
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.score {
  color: gainsboro;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.score h2 {
  font-size: 30px;
}

.score p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
.intro {
  color: gainsboro;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* opacity: 0; */
  transition: opacity 0.5s ease;
}
.intro h1 {
  font-size: 50px;
}
.intro button,
.match button {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color:rgb(37, 36, 36);
  font-size: 20px;
  background-color: rgb(156, 199, 199);
  border-radius: 3px;
  cursor: pointer;
}

.match {
  position: absolute;
  top: 55%;
  left: 50%;
  color:rgb(37, 36, 36);
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}

.winner {
  text-align: center;
  font-size: 50px;
}

.hands,
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.player-hand {
  transform: rotatey(180deg);
}
div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

@keyframes shakePlayer {
  0% {
    transform: rotateY(180deg) translatey(0px);
  }
  15% {
    transform: rotateY(180deg) translatey(-50px);
  }
  25% {
    transform: rotateY(180deg) translatey(0px);
  }
  35% {
    transform: rotateY(180deg) translatey(-50px);
  }
  50% {
    transform: rotateY(180deg) translatey(0px);
  }
  65% {
    transform: rotateY(180deg) translatey(-50px);
  }
  75% {
    transform: rotateY(180deg) translatey(0px);
  }
  85% {
    transform: rotateY(180deg) translatey(-50px);
  }
  100% {
    transform: rotateY(180deg) translatey(0px);
  }
}
@keyframes shakeComputer {
  0% {
    transform: translatey(0px);
  }
  15% {
    transform: translatey(-50px);
  }
  25% {
    transform: translatey(0px);
  }
  35% {
    transform: translatey(-50px);
  }
  50% {
    transform: translatey(0px);
  }
  65% {
    transform: translatey(-50px);
  }
  75% {
    transform: translatey(0px);
  }
  85% {
    transform: translatey(-50px);
  }
  100% {
    transform: translatey(0px);
  }
}

